/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
   background: url('images/doctor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  opacity: 0;
  transition: 1s ease;
}

body.loaded { opacity: 1; }

.container {
  width: 92%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0057b8;
  padding: 18px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 999;
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.8s ease;
}
.main-header.show {
  transform: translateY(0);
  opacity: 1;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  font-size: 15px;
  transition: 0.2s;
}

.nav a:hover,
.nav .active {
  background: rgba(255,255,255,0.25);
  border-radius: 8px;
}

.login-btn {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 8px;
}

/* APPOINTMENT CARD */
.appointment-container {
  background:  rgb(84, 184, 184);
  padding: 10px;
  width: 100%;
 align-items: center;
  border-radius: 10px;
  margin-top: 50px; /* header offset */
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.9s ease;
  
}
.appointment-container.show {
  transform: translateY(0);
  opacity: 1;
}

.appointment-container h2 {
  font-size: 10px;
  color: #003b84;
  margin-bottom: 5px;
}

/* FORM */
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group.small {
  flex: 0.4;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input,
select,
textarea {
  padding: 12px 14px;
  border: 1.5px solid #cfd7e6;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.2s;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #0066d4;
  box-shadow: 0 0 6px rgba(0,102,212,0.3);
}

/* BUTTON */
button {
  background: #0066d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #004c9d;
}

/* FOOTER (Header-style box) */
.footer {
  background:#0057b8;
  color:#fff;
  padding:18px 0;
  text-align:center;
  font-size:15px;
  margin-top:50px;
  box-shadow:0 -2px 6px rgba(0,0,0,0.15);
  border-radius: 12px 12px 0 0;
}

/* ERROR MSG */
.error {
  color:red;
  margin-bottom: 15px;
  font-size:14px;
}