/* ---------- GLOBAL ---------- */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('images/istockphoto-2191182508-612x612.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  opacity: 0;
  transition: 1s ease;
}

body.loaded { opacity: 1; }

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* ---------- HEADER ---------- */
.main-header {
  background:#0056b3;
  padding:18px 0;
  box-shadow:0 2px 6px rgba(0,0,0,0.15);
  color:#fff;
  margin-bottom:40px;
  transform: translateY(-50px);
  opacity: 0;
  transition: 0.8s ease;
}
.main-header.show {
  transform: translateY(0);
  opacity: 1;
}

.header-box {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo {
  font-size:26px;
  font-weight:700;
}

.nav a {
  margin:0 12px;
  color:#fff;
  text-decoration:none;
  padding:10px 16px;
  border-radius:8px;
  transition:0.3s;
  font-size:15px;
}
.nav a:hover,
.nav a.active {
  background:#fff;
  color:#0056b3;
}
.login-btn {
  background:#fff;
  color:#0056b3 !important;
  font-weight:600;
}

/* ---------- HERO CARD ---------- */
.hero-card {
  backdrop-filter: blur(18px);
  background: rgb(141, 250, 250);
  padding:50px;
  border-radius:22px;
  box-shadow:0 6px 20px rgba(0,0,0,0.1);
  text-align:center;
  margin-bottom:40px;
  transform: translateY(50px) scale(0.9);
  opacity: 0;
  transition: 0.9s ease;
  width: 95%;
}
.hero-card.show {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.hero-card h2 {
  color:#003b84;
  font-size:28px;
  margin-bottom:15px;
}
.hero-card p {
  color:#333;
  font-size:16px;
  line-height:1.6;
}

/* ---------- SERVICES GRID ---------- */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 26px;
  margin-bottom: 40px;
}

.service-card {
  background:  rgb(141, 250, 250);
  border: 1px solid rgba(255,255,255,0.55);
  backdrop-filter: blur(14px);
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.10);
  transform: translateY(50px) scale(0.8);
  opacity: 0;
  transition: 0.7s ease;
}


.service-card.show {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.service-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color:#003b84;
}
.service-card p {
  color:#333;
  font-size:14.5px;
  line-height:1.5;
}

/* ---------- FOOTER ---------- */
.footer {
  background:#0056b3;
  color:#fff;
  padding:20px 0;
  text-align:center;
  font-size:14px;
  box-shadow:0 -2px 6px rgba(0,0,0,0.15);
  border-radius: 12px 12px 0 0;
  margin-top:40px;
  position: fixed;
  bottom:0;
  width:100%;
  z-index: 999;
}
/* ---------- MAIN PAGE ---------- */
main {
  padding-bottom: 100px; /* footer height + space */
}